/*body{
  background-color: #dfd;
}*/
.kanki {
  margin: 10px;
}

.kansui {
  margin: 10px;
}

#kaihei-sitei {
  width: 140px;
}

.kaonki {
  margin: 10px;
}

.mt-square-matcha {
  font-size: 12px;
}
